:root {
    --main-color: #318CFE;
    --bubble-squiggle: 51% 49% 48% 52% / 62% 44% 56% 38%;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    background-color: var(--main-color);
    color: white;
    overflow-x: hidden;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

section {
    padding: 3rem;
}

h2 {
    margin: 0;
}

a {
    z-index: 1;
    transition:
        opacity 0.3s,
        box-shadow 0.3s;

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.4;
    }

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 85, 255, 0.8);
    }
}

#tsparticles {
    z-index: -1;
}

.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/// Created by Pratham (https://codepen.io/prathkum/pen/gOmboMm)
/// Modified by me
.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 1 / 1;
    opacity: 0.8;
    padding: 6rem;
    border-radius: var(--bubble-squiggle);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    will-change: transform;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: var(--bubble-squiggle);
        box-shadow:
            inset -6px 6px 10px #1B6CFB,
            inset 2px 6px 10px #1a74e5,
            inset 20px -20px 22px white,
            inset 40px -40px 44px #a8ceff;
    }

    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 20%;
        right: 20%;
        height: 40px;
        width: 40px;
        background: #E6FDFB;
        border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
        box-shadow: 16px 40px 0 -10px white;
        opacity: 0.8;
    }

    &:hover {
        animation-play-state: paused !important;
    }
}

.title {
    width: 3rem;
    white-space: nowrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.picture {
    max-width: 25rem;
    width: 100%;
    background-image: url(/assets/picture.webp);
}

.about-me {
    max-width: 25rem;
    width: 100%;
}

.project {
    max-width: 256px;
    width: 100%;
    transition: opacity 0.4s;

    &:hover {
        opacity: 0.6;
    }

    &.active {
        animation-play-state: paused !important;
    }
}

.project-information {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    transition-property: opacity;
    transition-duration: 0.5s;
    background-color: var(--main-color);
    animation: none !important;
    overflow: hidden;

    > div {
        justify-content: space-between;
        flex-wrap: nowrap;

        span {
            white-space: nowrap;
        }

        > div {
            justify-content: flex-end;
        }
    }

    > span {
        display: -webkit-box;
        line-clamp: 9;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        max-height: calc(1.5em * 9);
        overflow: hidden;
        line-height: 1.5;
    }

    &.bubble::after {
        content: none;
    }

    &.active {
        opacity: 1;
    }
}

.contact-me {
    max-width: 30rem;
    width: 100%;
}

@keyframes sway {
    0%   { transform: translate(0, 0); }
    50%  { transform: translate(10px, -5px); }
    100% { transform: translate(0, 0); }
}